#workspaces button {
    border-radius: 16px;
    min-width: 16px;
    padding: 0 10px;
}

#workspaces button:hover {
    background-color: @hover-fg;
    color: @hover-fg;
}

#workspaces button label {
    font-size: 16px;
}

#workspaces button.active label {
    color: @selection;
}
