#custom-system-update {
  color: @yellow;
}

#custom-capslock.off {
  color: @comment;
}

#custom-capslock.on {
  color: @green;
}

#custom-recording.idle {
  color: @comment;
}

#custom-recording.recording {
  color: @red;
  animation: blink 1s ease-in-out infinite;
}

#network {
  color: @green;
}

#bluetooth {
  color: @blue;
}

#custom-volume-trigger {
  color: @white;
}

#custom-system-trigger {
  color: @red;
}
