#custom-system-update {
    color: @yellow;
}

#custom-capslock.on,
#custom-numlock.on {
    color: @green;
}

#custom-capslock.off,
#custom-numlock.off {
    color: @comment;
}

#custom-recording.idle {
    color: @comment;
}

#custom-recording.recording {
    color: @red;
    animation: blink 1s ease-in-out infinite;
}

#network {
    color: @green;
}

#bluetooth {
    color: @blue;
}

#custom-volume-trigger {
    color: @white;
}

#custom-system-trigger {
    color: @red;
}
