@define-color background-darker rgba(25, 23, 36, 230);
@define-color background #1f1d2e;
@define-color selection #26233a;
@define-color foreground #e0def4;
@define-color comment #908caa;
@define-color cyan #8ab4d4;
@define-color green #a3be8c;
@define-color purple #c4a7e7;
@define-color red #eb6f92;
@define-color yellow #f6c177;

@define-color hover-fg alpha(@foreground, 0.6);

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
