/* To enable blur please make sure alpha is greater than 0 */
@define-color bar-bg rgba(0, 0, 0, 0.1); 

@define-color main-bg #232136;
@define-color main-fg #e0def4;

@define-color wb-act-bg #393552;
@define-color wb-act-fg #ea9a97;

@define-color wb-hvr-bg #2a283e;
@define-color wb-hvr-fg #908caa;
