#custom-recording {
  padding: 0 10px 0 2px;
}

#custom-recording.idle {
  color: @comment;
}

#custom-recording.recording {
  color: @recording;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#network {
  padding: 0 10px 0 2px;
  color: @network;
}

#bluetooth {
  padding: 0 10px 0 2px;
  color: @bluetooth;
}

#custom-system_update {
  padding: 0 10px 0 2px;
  color: @pacman;
}

#mpris {
  padding: 0 10px 0 10px;
}

#pulseaudio,
#wireplumber {
  padding: 0 10px 0 2px;
}

#clock.time {
  padding-right: 6px;
}
#custom-right_div.3 {
}

#clock.date {
  padding-left: 6px;
}
