/*--------------
    username
--------------*/

#custom-user {
	padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#workspaces {
	padding: 0 1px;
}
#workspaces button.active label {
	color: @red;
}

/*------------------
    window title
------------------*/

#window {
	margin-left: 12px;
}
